* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #ccc;
    font-family: "Lato", sans-serif;
}
.main {
    max-width: 1100px;
    margin: auto;
    /* padding-top: 50px; */
    display: flex;
    background: #383838;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px #000;
    position: relative;
    height: 150vh;
}
.col1 {
    width: 20%;
    background: #282828;
    width: 30%;
    height: 150vh;
}
.col2 {
    width: 80%;
    background: #313131;
    width: 70%;
    height: 150vh;
    display: flex;
    flex-direction: column;
}
.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}
.userImg {
    width: 150px;
    margin-bottom: 40px;
    border-radius: 50%;
    border: 4px double #8c4747;
    padding: 5px;
    transition: all 0.2s;
}
.linkProfile:hover .userImg {
    background-color: #151515;
    border: 4px double #8c6b47;
    transition: all 0.2s;
}
.welcome {
    font-size: 1.3rem;
    font-weight: 600;
    color: #ccc;
}
.userName {
    font-size: 2.2rem;
    font-weight: 100;
    margin-top: 10px;
    color: #ff8300;
}
button.btnList {
    background: linear-gradient(
        to right,
        rgb(74, 31, 38) 0%,
        rgb(102, 25, 58) 100%
    );
    background: -moz-linear-gradient(
        left,
        rgb(74, 31, 38) 0%,
        rgb(102, 25, 58) 100%
    );
    background: -webkit-gradient(
        left top,
        right top,
        color-stop(0%, rgba(74, 31, 38, 1)),
        color-stop(100%, rgba(102, 25, 58, 1))
    );
    background: -webkit-linear-gradient(
        left,
        rgba(74, 31, 38, 1) 0%,
        rgba(102, 25, 58, 1) 100%
    );
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 0 1px 4px #1e1e1e;
    color: #dbab8e;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.4s;
}
button.btnList:hover {
    background: transparent;
    border: 1px solid rgba(102, 25, 58, 1);
    transition: all 0.2s;
}
.newList {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerTitle {
    margin: 30px auto;
}
.title {
    color: #ccc;
    font-weight: 300;
}
.containerInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}
.input {
    width: 80%;
    word-break: break-all;
    margin-bottom: 30px;
    background: #ccc;
    border: none;
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 5px;
    color: #383838;
    box-shadow: 0 1px 4px #0f0f0f;
}
.listPendientes {
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
    text-align: center;
    align-content: center;

}
.titlePendientes {
    color: #ccc;
}
.itemLists {
    text-decoration: none;
}
.itemLists li {
    margin: 5px 0;
    font-size: 1rem;
    color: #ccc;
    text-align: left;
    font-weight: 100;
}
.itemPendientes li {
    margin: 5px 0;
    font-size: 1.2rem;
    color: #ccc;
    text-align: left;
    font-weight: 100;
}
.tachado {
    text-decoration: line-through;
}
.containterItemList {
    width: 80%;
    margin-top: 20px;
    overflow: auto;
    max-height: 190px;
    margin-bottom: 20px;
    padding-left: 40px;
}
.containerListPendientes {
    word-break: break-word;
    margin-top: 20px;
    overflow: auto;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
.divArrow {
    position: absolute;
    left: 30px;
    bottom: 20px;
}
.arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: navajowhite;
}
.imgArrow {
    width: 30px;
    filter: invert();
}
.txtArrow {
    order: 2;
    color: #e87904;
    font-size: 12px;
    margin-top: 10px;
    font-weight: 300;
}
.containerNote {
    width: 80%;
    margin: 0 auto;
}
.note {
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    color: #eb7033;
}

#inputList{
    height: 60px;
    background-color: #f4f4f4;
    text-overflow: ellipsis;
}
.containerTeclado{
    text-align:  center;
    padding: 20px 0;
}

.containeraddTask{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}